<div class="enter_section">
    <img src="/images/burger.png" alt="">
    <h1>Eat-Da-Burger</h1>

    <div class="grid-container">
        {{#each burgers}}
        {{#if this.devoured}}
            true
        <div>
            <p class="burger_id">{{this.id}}.{{this.burger_name}}</p>
                    
            <button data-id="{{this.id}}" class="devour">Devour!</button>
        </div>
        <div>
            <p>
                <span class="DevouredId">{{this.id}}.</span>
                <span class="DevouredBurger">{{this.burger_name}}</span>
            </p>
        </div>

        {{/each}}
    </div>

    <form id="addBurgerForm" action="" method="POST">
        <div>
            <textarea name="" id="enter_text" cols="30" rows="10"></textarea>
            <br>
            <input id="text-enter-button" type="submit">
            <p>Enter a burger you would like to eat!</p>
        </div>
    </form>

</div>